@font-face {
    font-family: "Cadillac";
    src: url("./fonts/Cadillac.ttf") format("ttf");
    font-style: italic;
}
body {
    margin: 0px;
    height: 100%;
    background-image: url("images/backFood.png");
    background-position: center;
    background-size: cover;
}
#content {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr minmax(300px, 1000px) 1fr;
    grid-template-rows: 150px 1fr 50px;
    height: 100vh;
}
header {
    grid-column: span 3;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid black;
}
header h1 {
    font-family: "Cadillac";
    margin-bottom: 10px;
}
header > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
header button {
    width: 75px;
    font-size: 1rem;
    background: none;
    color: white;
    border: 0px;
    cursor: pointer;
    height: 50px;
    transition: 0.3s;
}
header button:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}
header button.active {
    border-bottom: 1px solid white;
}
main {
    text-align: center;
    margin-top: 25px;
    border: 1px solid black;
    grid-column: 2/3;
    grid-row: 2/3;
    color: white;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
}
.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 25px;
}
.menu > div {
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    gap: 10px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.8);
}
.menu > div > div:first-child {
    display: flex;
    align-items: center;
}
.menu > div > div:last-child {
    text-align: left;
}
.menu img {
    height: 150px;
    width: 150px;
    border: 2px solid white;
}
footer {
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
    grid-row: 3/4;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}
a {
    color: white;
}
